main {
  margin-left: 5px;
  margin-right: 5px;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #ab77a8;
  text-align: center;
}

a:link {
  color: white;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: pink;
}

nav {
  text-align: center;
  margin-bottom: 15px;
  background-color: purple;
  color: white;
}

ul {
  list-style: square;
}
